---
import List from './List.astro';

interface Props {
  company: string;
  titles: {
    title: string;
    tenure: string;
  }[];
  description?: string;
  responsibilities?: string[],
  projects?: string[]
  headingClassName?:string,
}

const { company, titles, description,responsibilities ,headingClassName = 'mt-4', projects} = Astro.props;
---

<h4 class:list={["text-lg font-semibold", headingClassName]}>{company}</h4>

{
  titles.map((t) => (
    <p class="text-sm">
      {t.title} | {t.tenure}
    </p>
  ))
}

{description && <p class="text-sm mt-2 whitespace-pre-wrap">{description}</p>}


{responsibilities?.length && 
<p class="text-sm mt-2">Responsibilities:</p>
<List items={responsibilities}/>}

{projects?.length && <p class="text-sm mt-2">Key Projects:</p>
<List items={projects}/>}
  