---
import List from './List.astro';

interface Props {
  company: string;
  titles: {
    title: string;
    tenure: string;
  }[];
  description?: string;
  responsibilities?: string[],
  projects?: string[]
}

const { company, titles, description,responsibilities } = Astro.props;
---

<h4 class="text-lg font-semibold mt-2">{company}</h4>

{
  titles.map((t) => (
    <p class="text-sm">
      {t.title} | {t.tenure}
    </p>
  ))
}

{description && <p class="text-sm mt-2">{description}</p>}


{responsibilities?.length && 
<p class="text-sm mt-2">Responsibilities:</p>
<List items={responsibilities}/>
  